body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    line-height: 1.5em;
    font-size: large;
}

.container {
    width: 800px;
    margin: auto;
    margin-top: 50px;
}

.contentEditable {
    border: 4px solid blue;
    padding: 10px;
}

#input-note-body {
    font-size: 20px;
    padding: 0.5em;
    box-shadow: 0 8px 18px 0 black;
    background-color: violet;
}

#notes-container {
    border: 4px dotted red;
}

.delete {
    opacity: 0;
  }
  
  li:hover > .delete {
    opacity: 1;
  }

